<div class="jumbotron">
    <h1>API Demo</h1>
    <p class="lead">This web site is a demonstration for a RESTful JSON API - click on /swagger to test it - or link to it from your own web front-end.</p>
    <p><a href="Swagger/" class="btn btn-primary btn-lg">/Swagger</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Just a reg'lar old JSON API</h2>
        <p>Nothing special - just CRUD - Create/Read/Update/Delete API.</p>
        <p>Is a standard "off-the-shelf" solution generated in Visual Studio with Swagger added. </p>
        <p>There's no authentication set up for this one - and it is merely a stub to show what the structure of a CRUD RESTful Json API looks like. </p>
        <p>And then there's the Funny names - just to show that some API's may need to leverage logic that is best done on a server. </p>        
    </div>
</div>
